#flat_img {
  height: 800px;
  top: 0;
  margin-top: -100px;
}

.navbar {
  margin-bottom: 0;
}

#price_table {
  margin-top: 50px;
}

h1 {
  margin-top: 30px;
}

#about img {
  width: 90%;
}

#title {
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin-top: 620px;
  text-align: center;
  height: 150px;

}

.price {
  height: 150px;
}