.card_profile{
   background-color: #617684;
   margin: 80px;
   margin-bottom:20px;
   width: 300px;
   display: inline-block;
   padding: 15px;
   transition: transform .8s ease;
   border-radius:5px;
   &:hover {
    transform: scale(1.01);
    }

    img {
    // position: relative;
    width: 220px;
    height: 300px;
    }

    h2{
      font-size: 20px;
      height: 44px;
    }

    .description{
      height: 44px;
    }

  }
.title-center {
      margin-left:50px;
}