<div class="cover_picture">
  <% @flat.picture_1 %>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <p>>picture a ajouter</p
    </div>
    <div class="col-xs-4">
      <h1> <% @flat.title %> </h1>
      <p>  <% @flat.city %> </p>
    </div>
    <div class="col-xs-3">

    </div>
  </div>
</div>

<p>Find me in app/views/flats/show.html.erb</p>
