<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card_profile text-center">
      <div><%= image_tag(current_user.image(:medium)) %></div>
      <div><%= current_user.name %></div>
      <div><%= current_user.email %></div>
      </div>
      <div class="text-center"><%= link_to("Edit", edit_user_registration_path(current_user), class: "btn btn-default btn-xs btn-right") %></div>
    </div>
  </div>
</div>