<!DOCTYPE html>
<html>
<head>

  <title>SuprTipi</title>

</head>

<body>

  <!-- Banner -->

  <div id="banner">
    <div class="filter"></div>
    <h1>Welcome Home</h1>
    <br>
    <p>Anywhere at Home</p>
  </div>

  <div id="search">
<!--     <form class="form-inline text-center">
      <div class="form-group">
        <label for="exampleInputName2"></label>
        <input type="text" class="form-control" id="" placeholder="Where do u wanna go ?">
      </div>
      <div class="form-group">
        <label for=""></label>
        <input type="email" class="form-control" id="" placeholder="Starting on">
      </div>
      <div class="form-group">
        <label for=""></label>
        <input type="email" class="form-control" id="" placeholder="Ending on">
      </div>
      <div class="form-group">
        <label for=""></label>
        <input type="email" class="form-control" id="" placeholder="Travellers Number">
      </div>

      <button type="submit" class="btn btn-default">Search</button>
    </form> -->

      <form accept-charset="UTF-8" action="/flats" method="get"class="form-inline text-center">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <label for="q"></label>
        <input id="q" name="q" type="text" placeholder="Where do u wanna go"/>
        <label for="q"></label>
        <input id="q" name="q" type="text" placeholder="Travellers Number"/>
        <input name="commit" type="submit" class="btn btn-default" value="Search" />
      </form>

  </div>

  <div class="text-center">
    <h1>List of flats available</h1>
    <div class="container">
      <div class="row">
        <% @flats.sample(6).each do |flat|%>
          <div class="col-xs-12 col-md-4">
            <div class="card text-center">
              <!-- rajouter le lien sur la card -->
              <img data-sr="enter left, wait 1s" src="<%= flat.picture_1 %>" alt="flat_picture" class="">
              <h2><%= link_to flat.title.capitalize.truncate(30), flat_path(flat.id) %></h2>
              <div class="description"><%= flat.description.truncate(50) %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>