#devise_registrations_new{
  label{
   font-weight: 200;
   }
  .btn-block{
    height: 44px;
  }
  input.btn{
    margin-top:30px;
  }
  .btn-social{
    padding-top:10px;
  }
  .btn-social > :first-child, .btn-social-icon > :first-child{
    top:6px;
  }

  }
#devise_sessions_new{
    label{
   font-weight: 200;
   }
   font-weight: 200;
  .btn-block{
    height: 44px;
  }
  input.btn{
    margin-top:30px;
  }
  .btn-social{
    padding-top:10px;
  }
  .btn-social > :first-child, .btn-social-icon > :first-child{
    top:6px;
  }
}
