/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */


form {
  label {
    color: white;
  }
}

h1 {
  color:white;
}


p {
  color:white;
}

li {
  color:white;
}

